/* Write your CSS here */
.main-container {
  background-color: #1e293b;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #f0bb03;
  font-family: Bree Serif;
  font-weight: bold;
  font-size: 60px;
}
.text {
  color: #fff;
  font-family: Bree Serif;
  font-weight: bold;
  font-size: 40px;
}
.button {
  height: 50px;
  width: 130px;
  border-width: 0px;
  font-family: Bree Serif;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
